/* Write your CSS code here */
.title-date {
  display: flex;
  justify-content: space-between;
}
.item {
  list-style: none;
}
.title {
  font-weight: 800;
  color: #12022f;
  font-size: 20px;
}
.date {
  color: #9aa5b1;
  font-weight: 600;
}
.description {
  color: #9aa5b1;
  font-weight: 600;
}
.line {
  color: #9aa5b1;
}
